<div class="fundo">
    <div class="tela">
        <h1 class="welcome">SEJA BEM VINDO!</h1>
        <h4>Insira seus dados de login<br>
        para acessar a plataforma</h4>
        <form role="form" [formGroup]="loginForm">
            <div class="form-group">
                <input type="email" placeholder=" E-mail" formControlName="email">
            </div>
            <div class="form-group">
                <input type="password" placeholder=" Senha" formControlName="password">
            </div>
        </form>
       <button (click)="login()" [disabled]="!loginForm.valid">LOGIN</button>
        <p>Ainda não é cadastrado?<br>
        Clique <a class="link" href="https://www.google.com">aqui</a> e faça seu cadastro!</p>
    </div>    
</div>
