
<div class="fundo">
    <div class="tela">
        <h1 class="welcome">SEJA BEM VINDO!</h1>
        <h4>Insira seus dados de login<br>
        para acessar a plataforma</h4>
        <form role="form">
            <div class="form-group">
                <input type="text" placeholder=" E-mail"
                    #name>
            </div>
            <div class="form-group">
                    <input type="password" placeholder=" Senha"
                    #senha>
            </div>
        </form>
        <a [routerLink]="['/home']"><button>LOGIN</button></a> 
        <p>Ainda não é cadastrado?<br>
        Clique <a class="link" href="https://www.google.com">aqui</a> e faça seu cadastro!</p>
    </div>    
</div>
