<div class="header">
    <div class="menu1">
        <img class="logo" src="../assets/lua.png">
        <span class="lua">Full Moon Inc.</span>
    </div>
    <div class="menu2">
        <div class="options1"><a [routerLink]="['/login']">Início</a></div>
        <div class="options2">Meus Dados</div>
    </div>
</div>
<div class="pagina">
    <div class="grid">
        <div class="item-a"></div>
        <div class="item-b"></div>
        <div class="item-c"></div>
        <div class="item-d"></div>
        <div class="item-e"></div>
    </div>
</div>