.pagina {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 80px;
    background: #EFFFFF;
}

.grid {
    display: grid;
    grid-template-columns: 115px 542px 32px 542px 32px 542px 115px;
    grid-template-rows: 32px 400px 32px 400px 112px;
    background: #EFFFFF;
}

.grid > div {
    background: white;
    border-radius: 16px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-a {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-b {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item-c {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.item-d {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
.item-e {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #053247;
}

.logo {
    position: absolute;
    width: 70px;
    height: 69.81px;
    left: 32px;
    top: 5px;
    opacity: 0.8;
}

.lua {
    position: absolute;
    width: 229px;
    height: 42px;
    left: 118px;
    top: 19px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #C7FFFF;
}

.options1 {
    position: absolute;
    width: 59px;
    height: 28px;
    left: 1633px;
    top: 26px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #C7FFFF;
}

.options2 {
    position: absolute;
    width: 180px;
    height: 28px;
    left: 1756px;
    top: 26px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #C7FFFF;
    letter-spacing: 0em;
    text-align: left;
    flex-wrap: nowrap;
}